

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}


body{

    background:#f3f4f6;
    padding:40px;

}



.resume{

    max-width:900px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 5px 20px #aaa;

}

header{

    text-align:center;
    background:#111827;
    color:white;
    padding:30px;
    border-radius:10px;

}

header h1{

    font-size:40px;

}

header p{

    margin-top:10px;

}

section{

    margin-top:30px;

}

h2{

    color:#2563eb;
    border-bottom:2px solid #2563eb;
    padding-bottom:8px;

}

ul{

    margin:15px 30px;

}

.skill{

    display:inline-block;
    background:#2563eb;
    color:white;
    padding:10px 20px;
    margin:5px;
    border-radius:20px;

}

.project{

    background:#f3f4f6;
    padding:15px;
    margin:15px 0;
    border-radius:10px;

}

.download{

    display:block;
    text-align:center;
    margin-top:30px;

}

button{

    background:#2563eb;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:25px;
    cursor:pointer;

}

@media(max-width:600px){

body{

    padding:15px;

}

.resume{

    padding:20px;

}

}

